<h1><%= @task.title %> </h1>
<p><%= @task.details %> <%= link_to "Edit task", edit_task_path %></p>
<p><%= @task.completed ? '[X] This task is completed' : '[ ] This task is not completed' %></p>
<p><%= link_to "Back to tasks", tasks_path %></p>
